{% extends 'base.html' %}
{% block title %}Containers List{% endblock %}
{% load custom_filters %}
{% load static %}

{% block content %}

<div class="top-controls">
    <h1>Select Containers</h1>
    <button class="command-button" type="button" id="selectAllButton">Select All</button>
    <button class="command-button" type="button" id="deselectAllButton">Deselect All</button>
</div>

<form method="post" action="{% url 'process_selected_containers' %}" id="containerForm">
    {% csrf_token %}
    <div id="ContainersTree" class="tree">
        {% for container_id, container_l1 in containers_l1.items %}
            <ul id="container-{{ container_l1.node_id }}">
                <li data-container-id="{{ container_l1.node_id }}">
                    <span class="container-box node-l1"
                          data-border="{{ color_mapping|get_item:container_l1.nodecolor }}"
                          data-bg="{{ light_color_mapping|get_item:container_l1.nodecolor }}">
                        <input type="checkbox" name="selected_containers" value="{{ container_l1.node_id }}"
                               {% if container_l1.node_id in selected_node_ids %}checked{% endif %}
                               class="checkbox-indent">
                        <span>[{{ container_l1.ref_num }}]</span>
                        <span>{{ container_l1.nodecaption }}</span>
                    </span>

                    <ul class="children">
                        {% for container_l2 in grouped_containers|get_item:container_l1.node_id %}
                            <ul class="children children-indent" id="container-{{ container_l2.node_id }}">
                                <li data-parent-id="{{ container_l1.node_id }}">
                                    <span class="container-box node-l2"
                                          data-border="{{ color_mapping|get_item:container_l2.nodecolor }}"
                                          data-bg="{{ light_color_mapping|get_item:container_l2.nodecolor }}">
                                        <input type="checkbox" name="selected_containers" value="{{ container_l2.node_id }}"
                                               {% if container_l2.node_id in selected_node_ids %}checked{% endif %}
                                               class="checkbox-indent">
                                        <span>[{{ container_l2.ref_num }}]</span>
                                        <span>{{ container_l2.nodecaption }}</span>
                                    </span>

                                    <ul class="children">
                                        {% for container_l3 in grouped_containers|get_item:container_l2.node_id %}
                                            <ul class="children children-indent" id="container-{{ container_l3.node_id }}">
                                                <li data-parent-id="{{ container_l2.node_id }}">
                                                    <span class="container-box node-l3"
                                                          data-border="{{ color_mapping|get_item:container_l3.nodecolor }}"
                                                          data-bg="{{ light_color_mapping|get_item:container_l3.nodecolor }}">
                                                        <input type="checkbox" name="selected_containers" value="{{ container_l3.node_id }}"
                                                               {% if container_l3.node_id in selected_node_ids %}checked{% endif %}
                                                               class="checkbox-indent">
                                                        <span>[{{ container_l3.ref_num }}]</span>
                                                        <span>{{ container_l3.nodecaption }}</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </div>

    <div id="error-message" class="error-message">Please select at least one container.</div>

    <div class="bottom-controls">
        <button class="command-button" type="submit">See the list of Nodes</button>
        <br>
    </div>

</form>

{% endblock %}
