{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<header class="mainheader">
    <div class="container1">
        <img src="{% static 'Images/Logo 02.jpg' %}" alt="logo" class="logo">
        <div class="hamburger">&#9776;</div>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="#" id="sbhaToggle">SBHA</a>
                    <ul class="submenu">
                        <li><a href="{% url 'containerlist' %}">Select Containers and Nodes</a></li>
                        <li><a href="{% url 'node_to_node' %}">Shortest Path Between two Nodes</a></li>
                        <li><a href="{% url 'one_node' %}">Pathways of one Node</a></li>
                        <li><a href="{% url 'legend' %}" target="_blank" rel="noopener noreferrer">Legend</a></li>
                        <li><a href="http://www.legendarypharma.com/furberchart.pdf" target="_blank" rel="noopener noreferrer">PDF Version</a></li>
                    </ul>
                </li>
				<li><a href="{% url 'leia' %}">LEIA</a></li>
				<li><a href="{% url 'onpdlanding' %}">ONPD</a></li>
				<li><a href="{% url 'lpmo' %}">Longevity PMO</a></li>
				<li><a href="{% url 'whoweare' %}">Who we are</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="{% static 'js/main.js' %}"></script>
