{% extends 'base.html' %}
{% block title %}Nodes List{% endblock %}
{% load custom_filters %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<body data-renderview="{{ renderview }}">

<div class="top-controls">
    {% if renderview == "nodetonode" %}
        <h1>Select Two Nodes</h1>
    {% elif renderview == "onenode" %}
        <h1>Select One Node</h1>
    {% elif renderview == "containers" %}
        <h1>Select Containers and Nodes</h1>
        <button class="command-button" type="button" id="selectAllButton">Select All</button>
    {% endif %}
    <button class="command-button" type="button" id="deselectAllButton">Deselect All</button>

    <!-- Search bar with a button -->
    <input type="text" id="searchInput" class="search-input" placeholder="Search for containers or nodes..." onkeypress="handleKeyPress(event)">

    <button type="button" id="searchButton" class="command-button">Filter</button>
    <button type="button" id="removefilter" class="command-button">Remove Filter</button>

    <br><br>
</div>

<form method="post" action="{% url 'sbha' %}" target="_blank">

    {% csrf_token %}
    <div id="nodesTree" class="tree">
        {% for container_id, container_l1 in containers_l1.items %}
            <ul id="container-{{ container_l1.node_id }}">
                <li data-container-id="{{ container_l1.node_id }}">
                    
					<span class="collapsible node-box" 
                        data-node-color="{{ color_mapping|get_item:container_l1.nodecolor }}" 
                        data-light-node-color="{{ light_color_mapping|get_item:container_l1.nodecolor }}">

                        {% if renderview == "containers" %}
                            <input type="checkbox" name="selected_nodes" value="{{ container_l1.node_id }}"
                                {% if container_l1.node_id in selected_node_ids %}checked{% endif %}
								class="checkbox">
                        {% endif %}
                        
						<span class="arrow" data-level="1" data-id="{{ container_l1.node_id }}">▼</span>

                        <span>
                            [{{ container_l1.ref_num }}]
                        </span>
                        <span>
                            {{ container_l1.nodecaption }}
                        </span>
                    </span>
					<ul class="children">
                        <!-- List child nodes of level 1 -->
                        {% for node_l1 in grouped_nodes|get_item:container_l1.node_id %}

							<li data-parent-id="{{ container_l1.node_id }}" class="node-item ml-20" data-node-color="{{ color_mapping|get_item:node_l1.nodecolor }}">

                                <!-- Collapsible span for nodes -->
                                <input type="checkbox" name="selected_nodes" value="{{ node_l1.node_id }}"
                                    {% if node_l1.node_id in selected_node_ids %}checked{% endif %}
                                    class="checkbox">
                                <span>
                                    [{{ node_l1.ref_num }}]
                                </span>
                                <span>
                                    {{ node_l1.nodecaption }}
                                </span>
                            </li>
                        {% endfor %}
                        <!-- List containers at level 2 -->
						{% for container_l2 in grouped_containers|get_item:container_l1.node_id %}
							<ul class="children" id="container-{{ container_l2.node_id }}">
                                <li data-parent-id="{{ container_l1.node_id }}">
                                    
									<span class="collapsible node-box" 
                                        data-node-color="{{ color_mapping|get_item:container_l2.nodecolor }}" 
                                        data-light-node-color="{{ light_color_mapping|get_item:container_l2.nodecolor }}">

									    <span class="arrow" data-level="2" data-id="{{ container_l2.node_id }}">▼</span>

                                        {% if renderview == "containers" %}
                                            <input type="checkbox" name="selected_nodes" value="{{ container_l2.node_id }}"
                                                {% if container_l2.node_id in selected_node_ids %}checked{% endif %}
                                                class="checkbox">
                                        {% endif %}
                                        <span>
                                            [{{ container_l2.ref_num }}]
                                        </span>
                                        <span>
                                            {{ container_l2.nodecaption }}
                                        </span>
                                    </span>
							
                                    <ul class="children">
                                        <!-- List child nodes of level 2 -->
                                        {% for node_l2 in grouped_nodes|get_item:container_l2.node_id %}
                                            
											<li data-parent-id="{{ container_l2.node_id }}" class="node-item ml-20" data-node-color="{{ color_mapping|get_item:node_l2.nodecolor }}">

                                                <!-- Collapsible span for nodes -->
                                                <input type="checkbox" name="selected_nodes" value="{{ node_l2.node_id }}"
                                                    {% if node_l2.node_id in selected_node_ids %}checked{% endif %}
                                                    class="checkbox">
                                                <span>
                                                    [{{ node_l2.ref_num }}]
                                                </span>
                                                <span>
                                                    {{ node_l2.nodecaption }}
                                                </span>
                                            </li>
                                        {% endfor %}
                                        <!-- List containers at level 3 -->
                                        {% for container_l3 in grouped_containers|get_item:container_l2.node_id %}
                                            <ul class="children" id="container-{{ container_l3.node_id }}">
                                                <li data-parent-id="{{ container_l2.node_id }}">
                                                    
													<span class="collapsible node-box" 
                                                        data-node-color="{{ color_mapping|get_item:container_l3.nodecolor }}" 
                                                        data-light-node-color="{{ light_color_mapping|get_item:container_l3.nodecolor }}">

														<span class="arrow" data-level="3" data-id="{{ container_l3.node_id }}">▼</span>

                                                        {% if renderview == "containers" %}
                                                            <input type="checkbox" name="selected_nodes" value="{{ container_l3.node_id }}"
                                                                {% if container_l3.node_id in selected_node_ids %}checked{% endif %}
                                                                class="checkbox">
                                                        {% endif %}
                                                        <span>
                                                            [{{ container_l3.ref_num }}]
                                                        </span>
                                                        <span>
                                                            {{ container_l3.nodecaption }}
                                                        </span>
                                                    </span>
											
                                                    <ul class="children">
                                                        <!-- List child nodes of level 3 -->
                                                        {% for node_l3 in grouped_nodes|get_item:container_l3.node_id %}
                                                            
															<li class="level-1 tree-row node-item ml-20" data-parent-id="{{ container_l3.node_id }}" data-node-color="{{ color_mapping|get_item:node_l3.nodecolor }}">

                                                                <!-- Collapsible span for nodes -->
                                                                <input type="checkbox" name="selected_nodes" value="{{ node_l3.node_id }}"
                                                                    {% if node_l3.node_id in selected_node_ids %}checked{% endif %}
                                                                    class="checkbox">
                                                                <span>
                                                                    [{{ node_l3.ref_num }}]
                                                                </span>
                                                                <span>
                                                                    {{ node_l3.nodecaption }}
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
		{% endfor %}
    </div>
    <br>

    <div class="bottom-controls">
        {% if renderview == "onenode" %}
            <div class="checkbox-item">
                <input type="checkbox" name="downstream" value="sbha" checked>
                <span>Include Downstream Nodes</span>
            </div>
            <div class="checkbox-item">
                <input type="checkbox" name="upstream" value="sbha">
                <span>Include Upstream Nodes</span>
            </div>
        {% endif %}
        <div class="checkbox-item">
            <input type="checkbox" name="include_containers" value="sbha" checked>
            <span>Include Containers</span>
        </div>
        <input type="hidden" name="renderview" value="{{ renderview }}">
        <button class="command-button" id="drawPathwayButton" type="submit" name="submit_action" value="sbha">Draw Pathway</button>
		<pr>
    </div>
    <div>
	   <pr>
	</div>
	<pr>
</form>

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
